/* App.css or index.css */

/* Navbar styles */
.navbar {
  background-color: navy;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

.navbar a:hover {
  text-decoration: underline;
}
